body {
  margin-top: 50px;
}

#toggle-more-about-div {
  text-align: center;
}
#more-about-div-title {
  text-align: center;
  margin-bottom: 20px;
}
#card1 {
  margin-bottom: 20px;
}
.more-queries {
  background: #eefcff;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#find-employee-status {
  margin-top: 20px;
}

#update-user-form {
  margin-bottom: 20px;
  font-weight: bold;
}

.card {
  margin-bottom: 20px;
}

#name-of-employee {
  font-weight: bold;
  text-align: center;
}
